In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import pickle

In [2]:
df=pd.read_csv('Data.csv')
df.head()

,post_id,upload_date,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,engagement_rate,content_category
0,IG0000001,2024-11-30 09:25:22.954916,Reel,31627,7559,4530,6393,615036,1007750,1340,3,899,Home Feed,4.97,Technology
1,IG0000002,2025-08-15 09:25:22.954916,Photo,63206,3490,1680,6809,1237071,1345900,1351,20,805,Hashtags,5.59,Fitness
2,IG0000003,2025-09-11 09:25:22.954916,Reel,94373,3727,1761,8367,1127470,1305369,242,24,758,Reels Feed,8.29,Beauty
3,IG0000004,2025-09-18 09:25:22.954916,Reel,172053,7222,2875,9290,764030,897874,446,11,402,External,21.32,Music
4,IG0000005,2025-03-21 09:25:22.954916,Video,99646,2703,4444,9746,7004,495406,1905,8,155,Profile,23.52,Technology

In [3]:
df=df.drop(columns=['post_id','upload_date'])

In [4]:
df['traffic_source'].unique()

array(['Home Feed', 'Hashtags', 'Reels Feed', 'External', 'Profile',
       'Explore'], dtype=object)

In [5]:
Y=df['engagement_rate']
X=df.drop(columns='engagement_rate')

In [6]:
from sklearn.preprocessing import OneHotEncoder
encoder_media_type=OneHotEncoder(sparse_output=False,dtype=int)
encoder_traffic_source=OneHotEncoder(sparse_output=False,dtype=int)
encoder_categarious_content=OneHotEncoder(sparse_output=False,dtype=int)

In [7]:
numerical_cols = [
    'likes', 'comments', 'shares', 'saves', 'reach',
    'impressions', 'caption_length', 'hashtags_count', 'followers_gained'
]

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.2,random_state=42)

In [10]:
X_train.head()

,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,content_category
21753,Video,142752,9451,3475,14722,959648,1091226,1635,26,182,Hashtags,Fashion
251,Reel,7678,9407,2086,1791,911406,967880,135,27,3,Home Feed,Fitness
22941,Photo,170995,5084,4571,9293,819807,871587,1404,18,503,Profile,Music
618,Photo,45859,3464,2355,1616,1810110,2070049,2109,30,2,Reels Feed,Music
17090,Photo,82831,4835,3548,5182,456860,729574,1737,29,664,External,Fitness

In [11]:
X_test.head()

,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,content_category
2308,Reel,169793,3936,1533,12401,1022052,1065956,1538,11,539,Profile,Comedy
22404,Carousel,114279,6680,2804,12232,141527,224363,1243,15,621,Explore,Travel
23397,Reel,74399,9023,1133,2262,493380,611760,101,20,969,Explore,Fitness
25058,Reel,195192,4251,1746,4072,636378,1006588,434,5,340,Explore,Fashion
2664,Video,107312,9690,3628,8855,146066,271754,2191,30,936,Profile,Music

In [12]:
Y_train.head()

21753    15.62
251       2.17
22941    21.79
618       2.57
17090    13.21
Name: engagement_rate, dtype: float64

In [13]:
encoder_array_media_type=encoder_media_type.fit_transform(X_train[['media_type']])
encoder_df_media_type=pd.DataFrame(encoder_array_media_type,columns=encoder_media_type.get_feature_names_out(['media_type']),index=X_train.index)
X_train=pd.concat([X_train,encoder_df_media_type],axis=1)
X_train.head()

,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,content_category,media_type_Carousel,media_type_Photo,media_type_Reel,media_type_Video
21753,Video,142752,9451,3475,14722,959648,1091226,1635,26,182,Hashtags,Fashion,0,0,0,1
251,Reel,7678,9407,2086,1791,911406,967880,135,27,3,Home Feed,Fitness,0,0,1,0
22941,Photo,170995,5084,4571,9293,819807,871587,1404,18,503,Profile,Music,0,1,0,0
618,Photo,45859,3464,2355,1616,1810110,2070049,2109,30,2,Reels Feed,Music,0,1,0,0
17090,Photo,82831,4835,3548,5182,456860,729574,1737,29,664,External,Fitness,0,1,0,0

In [14]:
encoder_array_media_type = encoder_media_type.transform(X_test[['media_type']])

encoder_df_media_type = pd.DataFrame(
    encoder_array_media_type, 
    columns=encoder_media_type.get_feature_names_out(['media_type']), 
    index=X_test.index
)

X_test = pd.concat([X_test, encoder_df_media_type], axis=1)
X_test.head()

,media_type,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,traffic_source,content_category,media_type_Carousel,media_type_Photo,media_type_Reel,media_type_Video
2308,Reel,169793,3936,1533,12401,1022052,1065956,1538,11,539,Profile,Comedy,0,0,1,0
22404,Carousel,114279,6680,2804,12232,141527,224363,1243,15,621,Explore,Travel,1,0,0,0
23397,Reel,74399,9023,1133,2262,493380,611760,101,20,969,Explore,Fitness,0,0,1,0
25058,Reel,195192,4251,1746,4072,636378,1006588,434,5,340,Explore,Fashion,0,0,1,0
2664,Video,107312,9690,3628,8855,146066,271754,2191,30,936,Profile,Music,0,0,0,1

In [15]:
X_test['media_type_Carousel'].unique()

array([0, 1])

In [16]:
traffic_array_train = encoder_traffic_source.fit_transform(X_train[['traffic_source']])
traffic_df_train = pd.DataFrame(
    traffic_array_train,
    columns=encoder_traffic_source.get_feature_names_out(['traffic_source']),
    index=X_train.index  # Fix Index
)
X_train = pd.concat([X_train, traffic_df_train], axis=1)

In [17]:
traffic_array_test = encoder_traffic_source.transform(X_test[['traffic_source']])
traffic_df_test = pd.DataFrame(
    traffic_array_test,
    columns=encoder_traffic_source.get_feature_names_out(['traffic_source']),
    index=X_test.index  # Fix Index
)
X_test = pd.concat([X_test, traffic_df_test], axis=1)

In [18]:
content_array_train = encoder_categarious_content.fit_transform(X_train[['content_category']])
content_df_train = pd.DataFrame(
    content_array_train,
    columns=encoder_categarious_content.get_feature_names_out(['content_category']),
    index=X_train.index  # Fix Index
)
X_train = pd.concat([X_train, content_df_train], axis=1)

In [19]:
content_array_test = encoder_categarious_content.transform(X_test[['content_category']])
content_df_test = pd.DataFrame(
    content_array_test,
    columns=encoder_categarious_content.get_feature_names_out(['content_category']),
    index=X_test.index  # Fix Index
)
X_test = pd.concat([X_test, content_df_test], axis=1)

In [20]:
X_train=X_train.drop(columns=['media_type','content_category','traffic_source'])
X_test=X_test.drop(columns=['media_type','content_category','traffic_source'])

In [21]:
X_train.head()

,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,media_type_Carousel,...,content_category_Beauty,content_category_Comedy,content_category_Fashion,content_category_Fitness,content_category_Food,content_category_Lifestyle,content_category_Music,content_category_Photography,content_category_Technology,content_category_Travel
21753,142752,9451,3475,14722,959648,1091226,1635,26,182,0,...,0,0,1,0,0,0,0,0,0,0
251,7678,9407,2086,1791,911406,967880,135,27,3,0,...,0,0,0,1,0,0,0,0,0,0
22941,170995,5084,4571,9293,819807,871587,1404,18,503,0,...,0,0,0,0,0,0,1,0,0,0
618,45859,3464,2355,1616,1810110,2070049,2109,30,2,0,...,0,0,0,0,0,0,1,0,0,0
17090,82831,4835,3548,5182,456860,729574,1737,29,664,0,...,0,0,0,1,0,0,0,0,0,0

In [22]:
X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])

/tmp/ipykernel_1798/2211679414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.74191446 -1.59330986  1.23019304 ... -1.0596836   0.86635695
 -0.41859213]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.54118125 1.52594843 0.02932347 ... 1.3168433  0.38314043 1.24621839]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.67466117 -0.2850483   1.43192653 ... -1.10449785  1.60673322
 -0.22010035]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.66926899 -1.30267984  0.42151474 ...  0.62100833 -0.66558741
 -0.24131879]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.06533251 -0.14883942 -0.30739731 ...  1.54435744 -0.33035903
 -1.12412646]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.26164491 -0.46837572 -0.62976507 ...  1.67630609 -0.01775999
 -0.85111585]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.84080584 -1.51851193  0.4774709  ... -1.08597034 -0.96171294
  0.17233247]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.23546135  1.34650652  0.34710001 ... -0.20812582  1.34650652
  0.56919035]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.10599809e+00 -1.72182419e+00 -1.63954762e-03 ...  3.11434057e-01
 -1.40186984e+00 -9.16777775e-01]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_train.loc[:, numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.20941229  0.24965953 -0.4398051  ... -1.272816    1.09812633
 -0.23524779]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.36811476  0.58185954  1.39300742 ...  1.59830434  1.47021014
  1.30749588]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.66713565  0.21104342 -0.94350987 ...  1.01598333 -0.12751499
 -0.11715096]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.13583049  1.096989   -1.19442928 ... -0.28521657 -1.17052683
  0.01218516]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.04268882 -1.48150011 -0.8724425  ...  0.21690533  0.08581496
  0.76090849]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.30399802 -1.71452783 -1.06524128 ...  0.22422766  0.09614425
  0.33298148]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.68823662  0.22423746 -1.5719898  ... -0.71791677 -0.63455421
  0.14402066]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.43021616  0.01396451  0.56919035 ... -1.09648716  0.23605485
  0.12500968]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])
/tmp/ipykernel_1798/2211679414.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.12221375  0.40432403  1.60157254 ... -0.14957543  0.70707652
 -1.22297064]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_test.loc[:, numerical_cols] = scaler.transform(X_test[numerical_cols])

In [23]:
X_test.head()

,likes,comments,shares,saves,reach,impressions,caption_length,hashtags_count,followers_gained,media_type_Carousel,...,content_category_Beauty,content_category_Comedy,content_category_Fashion,content_category_Fitness,content_category_Food,content_category_Lifestyle,content_category_Music,content_category_Photography,content_category_Technology,content_category_Travel
2308,1.209412,-0.368115,-0.667136,1.135830,0.042689,-0.303998,0.688237,-0.430216,0.122214,0,...,0,1,0,0,0,0,0,0,0,0
22404,0.249660,0.581860,0.211043,1.096989,-1.481500,-1.714528,0.224237,0.013965,0.404324,1,...,0,0,0,0,0,0,0,0,0,1
23397,-0.439805,1.393007,-0.943510,-1.194429,-0.872443,-1.065241,-1.571990,0.569190,1.601573,0,...,0,0,0,1,0,0,0,0,0,0
25058,1.648522,-0.259062,-0.519966,-0.778435,-0.624913,-0.403500,-1.048221,-1.096487,-0.562420,0,...,0,0,1,0,0,0,0,0,0,0
2664,0.129211,1.623923,0.780374,0.320849,-1.473643,-1.635099,1.715326,1.679642,1.488040,0,...,0,0,0,0,0,0,1,0,0,0

In [24]:
with open('encoder_media_type.pkl', 'wb') as f:
    pickle.dump(encoder_media_type,f)
with open('encoder_traffic_source.pkl', 'wb') as f:
    pickle.dump(encoder_traffic_source,f)
with open('encoder_categarious_content.pkl', 'wb') as f:
    pickle.dump(encoder_categarious_content,f)
with open('scaler_numerical.pkl', 'wb') as f:
    pickle.dump(scaler,f)

In [25]:
os.makedirs('Splitted-Data',exist_ok=True)

X_train.to_csv(path_or_buf='Splitted-Data/X_train_data.csv',index=False)
X_test.to_csv(path_or_buf='Splitted-Data/X_test.csv', index=False)
Y_train.to_csv(path_or_buf='Splitted-Data/Y_train.csv', index=False)
Y_test.to_csv(path_or_buf='Splitted-Data/Y_test.csv', index=False)